<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuan.demo.dao.PersonMapper">

    <!--<resultMap id="BaseResultMap" type="Person">-->
    <resultMap id="BaseResultMap" type="com.chuan.demo.entity.Person">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="age" jdbcType="INTEGER" property="age" />
    </resultMap>

    <select id="getPersonById" resultType="com.chuan.demo.entity.Person">
        select * from person where id = #{id}
    </select>

</mapper>