<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuan.demo.dao.PersonMapper">


    <!--<resultMap id="BaseResultMap" type="Person">-->
    <resultMap id="BaseResultMap" type="com.chuan.demo.entity.Person">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="age" jdbcType="INTEGER" property="age" />
    </resultMap>

    <select id="getPersonById" resultType="com.chuan.demo.entity.Person">
        select * from person where id = #{id}
    </select>

    <insert id="saveUserInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.chuan.demo.entity.Person">
        insert into person(name,sex,age) values (#{name},#{sex},#{age})
    </insert>


    <!-- 集合的嵌套 Select 查询  collection -->
    <resultMap id="personAndGoodsResultMap" type="com.chuan.demo.entity.Person">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <collection property="goodsList" javaType="ArrayList" column="id" ofType="com.chuan.demo.entity.Goods" select="queryGoodsList"/>
    </resultMap>
    <select id="selectPersonAndGoods" resultMap="personAndGoodsResultMap" resultType="com.chuan.demo.entity.Person">
        select * from person
    </select>

    <resultMap id="goodsResultMap" type="com.chuan.demo.entity.Goods">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="person_id" jdbcType="INTEGER" property="personId" />
        <result column="goods" jdbcType="VARCHAR" property="goods" />
        <result column="revision" jdbcType="INTEGER" property="revision" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="created_time" jdbcType="DATE" property="createdTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="updated_time" jdbcType="DATE" property="updatedTime" />
    </resultMap>
    <!-- #{id}对应 <collection property="goodsList" javaType="ArrayList" column="id" ofType="com.chuan.demo.entity.Goods" select="queryGoodsList"/> 中的column="id"-->
    <select id="queryGoodsList" resultMap="goodsResultMap" resultType="com.chuan.demo.entity.Goods">
        select * from goods where removed = '0' and person_id=#{id}
    </select>
    <!-- end -->

    <!-- 集合的嵌套 Select 查询  collection -->
    <resultMap id="personAndGoodsResultMap2" type="com.chuan.demo.entity.Person">
        <id column="p_id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <collection property="goodsList" javaType="ArrayList" ofType="com.chuan.demo.entity.Goods">
            <id column="id" jdbcType="INTEGER" property="id" />
            <result column="person_id" jdbcType="INTEGER" property="personId" />
            <result column="goods" jdbcType="VARCHAR" property="goods" />
            <result column="revision" jdbcType="INTEGER" property="revision" />
            <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
            <result column="created_time" jdbcType="DATE" property="createdTime" />
            <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
            <result column="updated_time" jdbcType="DATE" property="updatedTime" />
        </collection>
    </resultMap>
    <!-- 两个表的字段名如果相同，这里要起个别名，区别一下，要不然关联查询的数据有问题 -->
    <select id="selectPersonAndGoods2" resultMap="personAndGoodsResultMap2" resultType="com.chuan.demo.entity.Person">
        select
            a.id p_id,
            a.`name`,
            a.sex,
            a.age,
            b.*
         from person a left join goods b on (a.id=b.person_id and removed = '0')
    </select>


</mapper>